<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Mirror</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body> 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
	        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
	        <a href="/profile" class="btn btn-default btn-sm">Profil</a>
            <h1>Mirror.me</h1>
            <p>Le texte que vous introduisez ci-dessous sera affiché sur l'écran distant</p>
        </div>
    </div>
 
    <div class="container">
        <div class="row">
			<div class="col-md-12">
					<!-- MIRROR FORM -->
				    <form action="/mirror" method="post" id="form_message">
				        <div class="form-group">
				            <label>Message à envoyer</label>
				            <input type="text" class="form-control" name="message" id="message">
				        </div>				
				        <button type="submit" class="btn btn-warning btn-lg" id="send_message">Envoyer</button>
				    </form>
			</div>
		</div>
    </div>
    <div class="jumbotron">
	    <div class="container">
	        <div class="row">
				<div class="col-md-12">
						<section id="sent_message">
						
						</section>
				</div>
			</div>
	    </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script>
		//connect to raspberry
		var mirrorSocket = io.connect('http://tfe.ngrok.com:80');
		mirrorSocket.emit('connection established', { hello: 'world' });
		
		// When whe send the form, we transmit the message to the raspberry and we show it
		(function($) { //this fixes "$ undefined" bug buy passing jquery as a parameter
	          $(function() {
		        $('#form_message').submit(function () {
		            var message = $('#message').val();
		            mirrorSocket.emit('message', message); // Send message to raspberry
		            insereMessage(message); // Shows message in this page
		            $('#message').val('').focus(); // Empties input an sets focus on it
		            return false; // bloc the classical form 
		        });
		     	// Shows the message in this page
		        function insereMessage(message) {
		            $('#sent_message').prepend('<p><strong>' + message + '</strong></p>');
		        }
	          });
         })(jQuery);
        
	</script>
</body>
</html>